//$main-color: #555abf;
$light-color: #31325c;
$dark-color: #00000b;
$text-color: #ffffff;
$warning-color: #ffa27b;

$background-color1: #00000b;
$background-color3: #090921;
$background-color2: #31325c;

$white-color: #ffffff; //#fbfcfd;
